@import url("https://fonts.googleapis.com/css?family=Marmelad|Montserrat");
.navbar-mari {
  background-color: #3f4c6b;
  background: linear-gradient(to bottom, #3f4c6b 0%, #3f4c6b 100%); }

.navbar-nav > li > a.h-menu-link {
  font-weight: 300;
  width: inherit;
  color: #fff;
  border-left: 1px solid #fff; }
  .navbar-nav > li > a.h-menu-link:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #e6e6e6;
    border-left: 1px solid #ccc; }

.btn-mari {
  background-color: #232322;
  border: 1px solid #888; }

.icon-bar {
  background-color: #cdcdcc; }

.logo {
  color: #fff;
  margin: -6px; }

footer {
  min-height: 50px;
  padding: .4em;
  position: fixed;
  z-index: 15;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #3f4c6b 0%, #3f4c6b 100%); }

.copy {
  color: red; }

.social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6px auto;
  background: transparent; }
  .social-button li {
    list-style: none;
    padding: 0 .5em; }
    .social-button li a i {
      color: #fff;
      text-shadow: 2px 2px 4px #9a9696; }
    .social-button li a:hover i {
      text-shadow: 2px 2px 6px #9a9696; }

.fb-icon:hover {
  color: #3b5998; }

.vk-icon:hover {
  color: #45668e; }

.instagram-icon:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.phone-icon:hover {
  color: #1f1; }

* {
  margin: 0;
  padding: 0;
  font-size: 20px; }

body {
  background: #f5f6f4;
  padding: 50px 0 70px 0;
  font-family: 'Marmelad', sans-serif; }

img {
  width: 100%;
  height: auto\9; }

.ancor {
  position: relative;
  top: 1.8em; }

.heading {
  position: relative;
  top: 103px;
  z-index: 12;
  height: 0;
  padding: 1em;
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  color: #fff;
  font-size: 3em;
  text-decoration: underline;
  text-shadow: 3px 3px 6px #9e98d2; }
  .heading--first {
    padding: 1em 0;
    margin-bottom: 1em;
    color: #3F4C6B;
    position: static; }

.sub-heading {
  font-family: 'Marmelad', sans-serif;
  text-align: center; }

details {
  cursor: pointer; }

summary:focus {
  outline: none; }

.text-box {
  margin: .5em;
  text-indent: .5em; }
  .text-box--left {
    text-align: right; }
  .text-box--right {
    text-align: left; }
  .text-box ul li {
    list-style-type: circle; }

.cam-bg {
  background: url("../images/camera.svg");
  background-size: 600px 480px;
  background-repeat: no-repeat;
  background-position: 80% 80%; }

.image-box {
  margin-top: 1.5em; }
  .image-box img {
    width: 100%;
    height: auto; }

.avatar {
  margin: 1.5em;
  border: 2px solid #432423; }
  .avatar img {
    width: 100%;
    height: auto; }

.parallax-window {
  min-height: 200px;
  background: transparent;
  margin: 1.5em 0; }

.background-cover {
  background: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.parallax {
  position: relative;
  background: transparent;
  overflow-y: hidden;
  height: 200px;
  margin-bottom: 1.5em; }
  .parallax-bg {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px, -50px);
    backface-visibility: hidden; }
    .parallax-bg__cover-1 {
      background-image: url("../images/parallax/parallax-1.jpg"); }
    .parallax-bg__cover-2 {
      background-image: url("../images/parallax/parallax-2.jpg"); }
    .parallax-bg__cover-3 {
      background-image: url("../images/parallax/parallax-3.jpg"); }
    .parallax-bg__cover-4 {
      background-image: url("../images/parallax/parallax-4.jpg"); }

.card-box {
  height: 100%; }
  .card-box::after {
    content: '';
    width: 98%;
    height: 20px;
    position: relative;
    z-index: -1;
    display: block;
    top: -1em;
    left: 2%;
    box-shadow: 0 13px 10px #ddd;
    border-radius: 0 0 50% 50%; }

.card {
  min-height: 450px;
  height: 100%;
  background: white;
  background: -moz-linear-gradient(left, white 0%, #eaeaea 50%, white 100%);
  background: -webkit-linear-gradient(left, white 0%, #eaeaea 50%, white 100%);
  background: linear-gradient(to right, white 0%, #eaeaea 50%, white 100%);
  border-radius: 12px;
  padding: 0;
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 7px #F2F2F2; }
  .card--heading {
    font-family: 'Marmelad', sans-serif;
    color: #fff;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px #666;
    text-align: center;
    padding: .5em 0;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 2px 1px #ddd; }
    .card--heading__red {
      background: #ff7f04;
      background: -moz-linear-gradient(-45deg, #ff7f04 0%, #ff7c00 67%, #ff7c00 68%, #ffa73d 68%, #ffa73d 64%, #ffb76b 100%);
      background: -webkit-linear-gradient(-45deg, #ff7f04 0%, #ff7c00 67%, #ff7c00 68%, #ffa73d 68%, #ffa73d 64%, #ffb76b 100%);
      background: linear-gradient(135deg, #ff7f04 0%, #ff7c00 67%, #ff7c00 63%, #ffa73d 68%, #ffa73d 68%, #ffb76b 100%); }
    .card--heading__green {
      background: #9ecb2d;
      background: -moz-linear-gradient(-45deg, #9ecb2d 0%, #8eb92a 67%, #72aa00 68%, #72aa00 68%, #bfd255 100%);
      background: -webkit-linear-gradient(-45deg, #9ecb2d 0%, #8eb92a 67%, #72aa00 68%, #72aa00 68%, #bfd255 100%);
      background: linear-gradient(135deg, #9ecb2d 0%, #8eb92a 67%, #72aa00 68%, #72aa00 68%, #bfd255 100%); }
    .card--heading__blue {
      background: #1e69de;
      background: -moz-linear-gradient(-45deg, #1e69de 0%, #3690f0 67%, #54a3ee 68%, #54a3ee 68%, #54a3ee 73%, #6db3f2 100%);
      background: -webkit-linear-gradient(-45deg, #1e69de 0%, #3690f0 67%, #54a3ee 68%, #54a3ee 68%, #54a3ee 73%, #6db3f2 100%);
      background: linear-gradient(135deg, #1e69de 0%, #3690f0 67%, #54a3ee 68%, #54a3ee 68%, #54a3ee 73%, #6db3f2 100%); }
  .card--body {
    padding: 1.5em; }
    .card--body ul li {
      list-style: circle;
      font-size: .8em;
      padding: .2em 0;
      border-bottom: 1px solid #ccc; }
      .card--body ul li:last-child {
        border: none; }

.menu--link {
  text-align: center;
  padding: 4px 32px; }

.menu--link:hover {
  border-radius: 12px; }

.container--color {
  background-color: #b4ebed;
  z-index: 12; }

.portfolio {
  overflow: hidden;
  cursor: pointer;
  height: 175px;
  margin: .2em 0;
  padding: .2em; }
  .portfolio--title {
    position: relative;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 10em;
    background-color: rgba(100, 100, 100, 0.4);
    text-shadow: 1px 1px 2px #fff;
    color: #DCF7F2;
    line-height: 195px;
    top: 0;
    transition: top 1s ease-out 0.2s; }
    .portfolio--title__visible {
      top: -125%; }
  .portfolio--picture {
    width: 100%;
    max-height: 400px; }

.customer {
  border: 1px solid #ddd;
  min-height: 540px;
  padding: .5em 1em 1em;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 0%, #f4f4f4 53%, #efefef 79%, #ededed 80%, #d6d6d6 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 0%, #f4f4f4 53%, #efefef 79%, #ededed 80%, #d6d6d6 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, #f4f4f4 53%, #efefef 79%, #ededed 80%, #d6d6d6 100%); }
  .customer--avatar {
    float: left;
    margin: .5em 1em;
    width: 120px;
    height: 120px; }
    .customer--avatar img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      box-shadow: 0 2px 3px #333; }
  .customer--name {
    font-size: 1.2em;
    text-decoration: underline; }
  .customer--post {
    font-style: italic;
    padding-bottom: 1em; }
  .customer--comment {
    text-indent: 1em;
    line-height: 1.6em;
    font-size: .8em;
    padding: .5em;
    box-shadow: inset 1px 1px 3px #999, inset -1px -1px 3px #999;
    background-color: rgba(180, 180, 180, 0.1); }
  .customer .quote {
    position: absolute;
    z-index: -1;
    color: #f9f9f9;
    text-shadow: 2px 2px 2px #111; }

.carousel-cell {
  margin: 0 0 0 15px;
  overflow: hidden; }

.carousel-cell img {
  display: block;
  height: 400px;
  width: 600px; }

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px; } }
